<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <title></title>

  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
  <link rel="stylesheet" type="text/css" href="../styles.css">
  <!-- .Google -->
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">

</head>
<body>
 <div class="container">
  <h1>schools hbs</h1>

{{#each schools}}
  <li><a href=/school_details/{{this.id}}>{{this.name}}</li>
  <br>
<!--   <button class="button" data-id="{{id}}">{{id}}: {{name}}</button></li> -->
  <br>
  {{/each}}

  <!-- <form class="search" id="search" action="/schools" accept-charset="UTF-8" method="post">
    <p>
      <button id="mySearch">Find Schools near me </button>
      <br>
      <input placeholder="enter school name" type="text" name="name" id="input1" />
      <input value="search" type="submit" id="find"></input>
    </p>
  </form> -->
</div>



</body>
</html>

